<!DOCTYPE html>
<html>
<head>
<title>
Login Page
</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<script type="text/javascript" src="/javascripts/login.js"></script>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="name">

<h2 style="font-family: cursive;">Welcome to Fantasy Football!</h2>
</div>

<img src="/images/throw1.webp"  width="400" height="400" align="left">
<img src="/images/throw2.jpg"  width="400" height="400" align="right" >

<div class="login"> 
<p id="errormessage"></p>
<div class="input-group">   
<label>Enter Username</label>
<input type="text" id="username" name="username" >
</div>
<div class="input-group">
<label>Enter Password</label>
<input type="password" id="password" name="password">
</div>
<div>
<button   id="login" class="btn" onclick="login()"
name="login_user"><i class="fa fa-sign-in" aria-hidden="true"></i>Login
</button>
</div>
<p class="signup">
Don't have an account ?
<a href="/register" class="signup">
Signup
</a>
</p>
</div>
</div>
</body>
</html>
